#outer {
    width: 100%;
    text-align: center;
  }
  
  #inner {
    display: inline-block;
  }

  #inner .intro {
    margin-top:100px;
  }

  #inner .intro .title {
    font-size: 35px;
    font-weight: 600;
  }

  #inner .intro .description {
    margin-top:60px;
    margin-bottom:80px;
    color: #666666;
    font-size: 25px;
    width:800px;
  }

  #outer .summary {
    width:100%;
    background-color: #fcfcfc;
    height:400px;
    border-top:1px solid lightgrey;
  }

  #outer .summary .blurb {
    font-size: 20px;
    margin-top:80px;
    line-height: 40px;
  }

  #outer .summary .features {
    display:inline-block;
    margin-top:80px;
    margin-left: 100px;
    margin-right: 100px;
  }

  #outer .summary .features .features-title {
    margin:0px;
    font-size:25px;
    font-weight: 600;
  }



  